@font-face{
    src: url('RetroVintage-Regular.otf');
    font-family: Retro;
}

@font-face {
    src: url('Amperzand.ttf');
    font-family: Halaney;
}

@font-face {
    src: url('Vigofam.ttf');
    font-family: vigofam;
}

.big{
    font-size: xx-large;
    font-family: 'Retro', sans-serif;
    color: rgb(168, 63, 63);
    text-shadow: 2px 2px 5px pink;
    margin-bottom: 0px;
    padding: 0px 0px;
}
.ind{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
}

p{
    padding:2px;
    margin:0px;
}

a{
    font-size: larger;
    font-family: 'vigofam', 'sans-serif';
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    color:rgb(0, 0, 0);
    background-color: hsl(0, 0%, 95%);
    border-radius: 8px;
}

a:hover{
    background-color: hsla(0, 0%, 95%, 0.577);
}

.text{
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: x-large;
    font-family: 'Halaney';
    margin: 5px 0px;
}

.center-link{
    display: flex;
    justify-content: center;
    padding: 20px 5x;
}

.p2{
    display: grid;
    grid-template-rows: 30% repeat(2,1fr) 30%;
    grid-template-columns: 30% repeat(2,1fr) 30%;
    grid-gap: 2em;
    height: 40vh;
    width: 100%
}

.p2 img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 3px 3px 5px white;
}

.p2 img:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.text2{
    grid-area: 1/2/2/4;
    justify-self: center;
    align-self: flex-end;
    place-items: center;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: x-large;
    font-family: 'Halaney';
    margin: 5px 0px;
}

.img1{
    grid-area: 2/2/3/3;
}

.img2{
    grid-area: 2/3/3/4;
}

.img3{
    grid-area: 3/2/4/3;
}

.img4{
    grid-area: 3/3/4/4;
}

.music{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.music video{
    height: 80%;
    width: 80%;
    margin-bottom: 0px;
}

.gratitude{
    display: grid;
    height: 80vh;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: 4fr 3fr 20px 20px 20px 4fr 20px 20px 20px 3fr 4fr;
    margin-bottom: 20px;
}

.text3{
    grid-area: 1/2/2/11;
    justify-self: center;
    align-self: flex-end;
    place-items: center;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: x-large;
    font-family: 'Halaney';
    margin-top: 10px;
    margin-bottom: 20px 
}

.a11{;
    grid-area: 2/4/13/9;
    justify-self: stretch;
    align-items: stretch;
    border-radius: 8px;
    padding: 0px;
}

.a11 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.a1{
    grid-area: 3/1/4/5;
    justify-self: right;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a2{
    grid-area: 5/1/6/3;
    justify-self: right;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a3{
    grid-area: 7/1/8/5;
    justify-self: right;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a4{
    grid-area: 9/1/10/3;
    justify-self: right;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a5{
    grid-area: 11/1/12/5;
    justify-self: right;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a6{
    grid-area: 3/8/4/-1;
    justify-self: left;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a7{
    grid-area: 5/10/6/-1;
    justify-self: left;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a8{
    grid-area: 7/8/8/-1;
    justify-self: left;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a9{
    grid-area: 9/10/10/-1;
    justify-self: left;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}

.a10{
    grid-area: 11/8/12/-1;
    justify-self: left;
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
}